@charset "utf-8";

/* 웹사이트 전체를 감싸는 영역 */
#wrap{
   
}

/* header_start--- */
#header{
    background: #dde; 
    
}

#header .logo{
    text-align: center;
    height: 70px;
    line-height: 70px;
    /*  
    1) 웹의 큰 구조에서 1번째 자식이 위쪽으로 여백을 가질 때 margin 속성을 
    사용하면 실제로는 부모태그의 위로 여백을 가지게 된다. 그래서 margin값을
    사용할 수 없음
    => 대체해서 padding으로 속성값을 적용하기도 함

    2) 내가 원하는 높이에서 글자를 세로 가운데 배치하는 공식
    {height:값; line-height:값;}
    */
   
}
#header .gnb{}