@charset "utf-8";

/* 웹사이트 전체를 감싸는 영역 */
#wrap{
   
}

/* header_start--- */
#header{
    background: #dde; 
    
}

#header .logo{
    text-align: center;
    height: 70px;
    line-height: 70px;
    /*  
    1) 웹의 큰 구조에서 1번째 자식이 위쪽으로 여백을 가질 때 margin 속성을 
    사용하면 실제로는 부모태그의 위로 여백을 가지게 된다. 그래서 margin값을
    사용할 수 없음
    => 대체해서 padding으로 속성값을 적용하기도 함

    2) 내가 원하는 높이에서 글자를 세로 가운데 배치하는 공식
    {height:값; line-height:값;}
    */
   
}
#header .gnb{
    border-top: 1px solid #aaa;
    display:flex;
    justify-content: center;
}

#header .gnb h2{
    display: none;
    /*  
    시멘틱 태그 사용시 제목태그로 영역 타이틀을
    지정해 줘야함. 실제 ui 화면상 표기되지 않을 것
    이므로 아예 삭제함
    {display:none} 적용시 해당태그 자체가 아예 작성하지 않은 것처럼 인식함
    */
}

#header .gnb ul{
    display: flex;
    width: 750px;
    background: #cc2;
    
}

#header .gnb ul li{
    flex: 0 0 150px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

#header .gnb ul li a{
    /* 글자의 형태는 a에 많이 준다. */
    font-size: 20px;
    font-weight: 700;
}


#header .gnb ul li:hover a{
    color: #19f;
}

/*  
a:hover로 지정해도 색상은 동일하게 되지만
li:hover를 대상으로 봐야하는 이유는
추후 depth2,3... 의 submenu의 hover 범주까지
고려해야 실제 기능 구현이 가능하기 때문에
li를 대상으로 보는 것이 좋음.
*/

#header .gnb ul .active a{
    color: #19f; 
}

/* a태그 안의 글자색상 변경은 a 캐그 색상을 변경해야 인식됨
   : reset.css 초기화 설정 때, 지정한 a 태그의 색상 때문 */

/* main_visual 시작 */

#main_visual{
    width: 100%;
    height: 700px;
    background:url(../img/main_visual.jpg) no-repeat center 0;
}


#main_visual .inner{
    width: 1200px;
    height: 700px;
    background: #cce;
    margin: 0 auto;
    position:relative;
}

/*  
== 블록요소 태그를 가운데 배치하는 공식 ==
블록요소태그{width:값; margin: 0 auto;}

margin-top: 0;
margin-bottom: 0;

margin-left: auto;
margin-right: auto;

=> 여백 위, 아래 0
     여백 왼쪽, 오른쪽 auto
     "좌우 자동으로 여백 배치해서 가운데 정렬해라"
     뜻으로 이해하면 됨

     4값 margin: 0 auto 0 auto
     3값 margin: 0 auto 0
     2값 margin: 0 auto
*/

/* main_visual .inner .mv_txt */

#main_visual .inner .mv_txt{
    padding-top: 220px;
    padding-left: 150px;
    
    /*  
    웹사이트의 특성상 큰 영역구조에 첫번째 자식태그의 top 또는 bottom으로 여백을 지정할 경우 부모태그 전체로 여백이 지정되는 경우 발생
    => margin대신 padding및 다른 속성으로 대체사용

    */
}
#main_visual .inner .mv_txt .tit{
    font-size: 45px;
    line-height: 51px;
}
#main_visual .inner .mv_txt .more{
    width: 150px;
    height: 40px;
    background: #19f;
    text-align: center;
    line-height: 40px;
    margin-top: 40px;
}

#main_visual .inner .mv_txt .more a{
    display: block;
    color: #fff;
    /* a태그는 inline요소로 공간을 가질 수 없음
    글자에만 a링크가 적용되면 ux측면에서 부적함
    파랑버튼 전체를 a링크 대상으로 인식시켜야 하므로 block요소로 처리하여 인식시킴 */
}


#main_visual .inner .btn_prev, #main_visual .inner .btn_next{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #00f;
    text-align: center;
    line-height: 50px;
    position: absolute; top: 50%; margin-top: -27px;
    left: 50%;

    /*  
    == 태그 가로에서 가운데 배치하는 3가지 공식 ==
    1. 인라인요소 : {text-align:center}
    2. 블록요소(기본) : {width:값; margin:0 auto}
    3. 블록요소 : 블록요소 태그가 position속성을 가졌을 때, margin: 0 auto; 속성값을 함께 사용할 수 없음 => 적용자체가 불가 {position:absolute; left:50%; margin-left: -현태그가로너비의 반값; top 또는 bottom:값;}
    ** 부모태그 공간값이 정확하지 않고, 100% 비율로 기준을 잡고 있을 경우에는 px 고정단위를 적용할 수 없으므로 %로 위치값을 지정해야함.
    */

}

#main_visual .inner .btn_prev{
    margin-left:  -600px;
}

#main_visual .inner .btn_next{
    margin-left: 548px;
}


#main_visual .inner .btn_prev a, 
#main_visual .inner .btn_next a{
   color: #00f;
   display: block;
}

#main_visual .inner .btn_prev:hover,
#main_visual .inner .btn_next:hover{
    background: #00f;
}


#main_visual .inner .btn_prev:hover a, 
#main_visual .inner .btn_next:hover a{
    color:#fff;
}

/* #container start ----------- */

#container{}

/* 공통 style */

#container .cont_tit{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.cont01{
    background: #8df;
    padding: 100px 0;
}

.cont01 .inner{
    width: 1200px;
    background: #cea;
    margin: 0 auto;
}

.cont01 .product{
    
}

.cont01 .product article{
    width: 580px;
    border: 1px solid #333;
}

.cont01 .product article .photo{
    width: 580px;
    height: 400px;
    background: #cee;
}

.cont01 .product article .photo img{
    width: 100%;
    height: auto;
}

.cont01 .product article dl{
    padding: 30px 0;
}

.cont01 .product article dl dt{

}

.cont01 .product article dl dd