@charset "utf-8";

html, body{
    height:100%;
}

#wrap{
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    background:url(../img/bg_join4.jpg) no-repeat center center;
    /* 배경화면이 유동적으로 잡힌다. */
    /* background-size: cover; */
    object-fit: cover; 
    /* 모니터마다 차이가 있다. */
}

/*  
object-fit : img, video, object, svg 등 비율이 유지되는 요소들에게 사용하는 속성
cover : 비율이 유지되면서 영역안에 가득 채워질 수 있도록
contaion : 비율유지하면서 영역안에 요소가 가득 들어가도록
none : 크기, 비율 상관없이 크기 가운데 배치
fill : 요소 가득 채울 수 있도록 가로, 세로 강제 지정(비율x)
*/


.logo{
    width: 212px;
    height: 76px;
    padding-top: 148px;
    /* block형 요소들을 중앙에 오게끔 하는 표현 */
    margin: 0 auto 60px auto;
}

/* 실제로 줄여줘야 하는 img */
.logo img{
    /* 유지보수의 차원에서 100% auto로 받아주는 것이 좋다. */
    width: 100%;
    height: auto;
}

.box{
    width: 335px;
    height: 400px;
    background:rgba(255,255,255,0.7);
    /* background: transparent; */
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 45px 45px 40px 45px;
}

fieldset{
    border:none;
}

legend{
    display: none;
}

.login{
    border-bottom: 2px solid #333;
}

.login input{
    width: 100%;
    border: none;
    background: none;
    height: 60px;
    padding-left: 10px;
    box-sizing: border-box;
}

label{
    display: none;
 }

 .check{
    font-size: 14px;
    padding: 14px 0;
 }

 .check label{
    display: inline-block;
    margin: 0 30px 0 0;
 }

 .check input[type="checkbox"]{
    margin: 3px 5px 0 0;
 }

/*  
== 폼요소 입력양식태그 가상클래스 선택자 ==
input:checked{}   :   체크박스일 경우 체크지정
input:focus{}   :   텍스트일 경우 포커스 지정   
input:enabled{} : 사용가능한 폼
input:disabled{}  :  사용불가능한 폼

== 속성 선택자 ==
: 특정 속성 or 속성값 태그 선택시 [] 지정.


*/

.btn_login input{
    width: 100%;
    height: 55px;
    background: #0af;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


#footer{
    width: 100%;
    height: 35px;
    background: #333;
    position: fixed;
    left: 0;
    bottom: 0;
}

#footer_inner{
    width: 1024px;
    background: #08e;
    margin: 0 auto;
}

.fmenu{}
.fmenu .more{
    width: 140px;
    background: #fed;
    position: relative;
}
.fmenu .more .btn{
    display: block;
    height: 18px;
    padding: 8.5px 0 8.5px 20px;
    background: url(../img/icon_arr.png) no-repeat right 0;
}


.fmenu .more .list{
    width: 138px;
    background: #fff;
    border: 1px solid #eee;
    position:absolute;
    left: 0;
    bottom: 35px;
    padding: 12px 0;
    display: none;
}

.fmenu .more:hover .list{
    display: block;
}

.fmenu .more .list li a{
    display: block;
    padding: 10px 20px;
}

.fmenu .more:hover .btn{
    background-position: right -35px;
}

