@charset "utf-8";

h1{
    margin: 20px;
}

form{
    margin: 20px;
}

fieldset{
    /* 태그자체 기본선을 가짐. 없앨 때 none 처리 */
    /* border:none; */
    padding: 20px;
    margin: 20px 0;
}

legend{
    font-size: 30px
}

ul{

}

ul li{
    padding: 10px;
}

h3{
    margin: 10px 0;
}

/*  
== 입력폼 그룹지정 태그 ==
<form> : 입력폼
<fieldset> : 입력폼이 다수일 경우, 그룹핑할 때 사용
    <legend> : 그룹명 지정

== input 태그 입력양식 태그 ==
: 아이디, 검색어, 입력하는 텍스트 상자, 로그인 버튼...

<input type="값">
ex) 아이디, 비밀번호, 체크박스, 라디오버튼, 이메일, 전화번호, 날짜, 시간, 이미지, 버튼...

== 1) 글자, 비밀번호 태그 속성 ==
<input type="text">
<input type="password">

maxlength : 최대 글자 입력가능 수
minlength : 최소 글자 입력수 (크롬, 안드로이드만 지원한다)
size : 입력폼 기본 글자수 20 (변경 가능)
value : 기본 입력값(서버 전송되는 값)
required : 필수로 데이터를 입력하게 하는 속성

== label 태그 ==
<label> 태그 : Form 요소에 레이블(명칭 = 이름)
폼요소와 레이블 텍스트가 서로 연결되어 있다는 것을
브라우저가 인식함

<label for="id명 동일">텍스트</label>
<input type="값" id="id명">
*/
